{% extends './base/base.html' %}
{% load staticfiles %}

{% block title %}
Locales
{% endblock %}

{% block content %}
<section>
    <div class="principal">
        <h1>Nuestras sucursales se encuentran en:</h1>
        <ol>
            <li>Av. Alameda #4050, Estación Central. Teléfono: 600 600 9800</li>
            <li>Pedro Fontova #7810 L.8, Huechuraba. Teléfono: 600 600 9800</li>
            <li>Av. Independencia #565, Independencia. Teléfono: 600 600 9800</li>
            <li>Avenida Chicureo #3100, Colina. Teléfono: 600 600 9800</li>
            <li>Froilan Roa #922, La Florida. Teléfono: 600 600 9800</li>
            <li>Av. La Florida #9746, La Florida. Teléfono: 600 600 9800</li>
            <li>Av. Principe de Gales #6853, La Reina. Teléfono: 600 600 9800</li>
            <li>Av. Cuarto Centenario #996, Las Condes. Teléfono: 22 212 6000 | 600 600 9800</li>
            <li>Av. Las Condes #7645, Las Condes. Teléfono: 600 600 9800</li>
            <li>Av. Camino El Alba #11969 L.214, Los Dominicos. Teléfono: 600 600 9800</li>
            <li>Av. Pajaritos #2292, Maipú. Teléfono: 600 600 9800</li>
            <li>Av. Tobalaba #12175 L.103, Peñalolén. Teléfono: 600 600 9800</li>
            <li>Manuel Montt #15, Providencia. Teléfono: 600 600 9800</li>
            <li>Av. Tobalaba #1385 , Providencia. Teléfono: 600 600 9800</li>
            <li>Av. Andres Bello #2433 L.5524, Providencia. Teléfono: 600 600 9800</li>
            <li>Constitucion #4 , Providencia. Teléfono: 22 7329971 / 600 600 9800</li>
            <li>San Francisco #520, Esq. Santa Isabel, Santiago Centro. Teléfono: 22 639 0450 | 600 600 9800</li>
            <li>Republica #44, Santiago Centro. Teléfono: 600 600 9800</li>
            <li>Av. Vitacura #6441, Vitacura. Teléfono: 22 2194070 / 600 600 9800</li>
            <li>Av. Irarrázaval #2087, Ñuñoa. Teléfono: 600 600 9800</li>
        </ol>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
{% endblock %}
