{% extends './base/base.html' %}
{% load staticfiles %}

{% block title %}
Menú
{% endblock %}

{% block content %}
<section id="contenedor-inferior">
    <aside class="aside aside-1">
        <div class="lateral_izq">
            <h1>Nuestras Pizzas</h1>        
            <h3>Especialidades de la casa.</h3>
            <div class="pepperoni">
                <h5>PEPPERONI</h5>
                <img src="{% static 'img/super_pepperoni-compressor.png' %}"  width="550" alt="Perrito rescatado">
                <p>Extra queso mozzarella, doble pepperoni.</p>
            </div>
            <div class="carnes-mix">
                <h5>CARNES MIX</h5>
                <img src="{% static 'img/todas_las_carnes-compressor.png' %}" alt="carnes-mix">
                <p>Queso mozzarella, pepperoni, jamón, tocino, salchicha italiana.</p>
            </div>
            <div class="italiana">
                <h5>ITALIANA</h5>
                <img src="{% static 'img/italiana-compressor.png' %}"  alt="italiana">
                <p>Queso mozzarella, orégano, pepperoni, salchicha italiana,
                    aceitunas negras, champiñón.</p>
            </div>
            <div class="española">
                <h5>ESPAÑOLA</h5>
                <img src="{% static 'img/Espanola.png' %}" height="150" alt="española">
                <p>Queso mozzarella, chorizillo, jamon, 
                    pimenton, tomate.</p>
            </div>
            <div class="napolitana">
                <h5>NAPOLITANA</h5>
                <img src="{% static 'img/napolitana-compressor.png' %}" alt="napolitana">
                <p>Queso mozzarella, orégano, tomate.</p>
            </div>
            <div class="vegetariana">
                <h5>VEGETARIANA</h5>
                <img src="{% static 'img/vegetariana-compressor.png' %}" width="550"  height="200" alt="vegetariana">
                <p>Queso mozzarella, cebolla, pimiento verde,
                    tomate, aceitunas negras, champiñon.</p>
            </div>
            <div class="hawaiana">
                <h5>HAWAIANA</h5>
                <img src="{% static 'img/hawaiana-compressor.png' %}"  width="550" height="200" alt="hawaiana">
                <p>Queso mozzarella, piña y jamón.</p>
            </div>
        </div>
    </aside>
    <aside class="aside aside-2">
        <div class="lateral_der">
            <h1>Nuestros acompañamientos</h1>  
            <h5>PALITOS DE QUESO</h5>
            <img id="palitos-queso" src="{% static 'img/palitos_de_queso-compressor.png' %}" alt="CROW">
            <p>Nuestros palitos de pan horneados cubiertos con nuestra sabrosa salsa de queso.</p>
            <br>
            <h5>PALITOS DE AJO</h5>
            <img id="palitos-ajo" src="{% static 'img/palitos_de_ajo-compressor.png' %}" alt="CROW">
            <p>Nuestros palitos de pan horneados cubiertos con nuestra sabrosa salsa de queso.</p>
            <br>
            <h5>PALITOS DE CANELA</h5>                
            <img id="palitos-canela" src="{% static 'img/palitos_de_canela-compressor.png' %}" alt="CROW">
            <p>Nuestros palitos al horno recubierto de salsa de canela.</p>          
            <br>
        </div>
    </aside>
</section>
{% endblock %}

